<section class="products">
    <div class="products__container">
        <div class="products__card-box">
            <a class="products__anchor" routerLink="/details">
                <div class="products__card-box">
                    <div class="products__card">
                        <div class="products__box">
                            <div class="products__image">
                                <img src="../../../assets/head pan.jpg" alt="">
                                </div>
                            <div class="products__details">
                                <div class="products__title">
                                    title
                                </div>
                                <div class="products__price">
                                    price
                                </div>
                                <div class="products__description">
                                    description
                                </div>
                               
                                <div class="products__rating">
                                    rating
                                </div>
                                <div class="products__category">
                                    price
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
           
        </div>
    </div>
</section>