.products {
    background-color: white;
    margin-top: 7rem;


    &__container {
        width: 100%;
        min-height: 100vh;

        
        @media only screen and (min-width: 20em) {
           margin-top: 12rem;
        }
        @media only screen and (min-width: 75em) {
           margin-top: unset;
        }

    }

    &__anchor {
        text-decoration: none;
        backdrop-filter: blur(80px);
        display: flex;
        width: 22%;
        overflow: hidden;
        margin-bottom: 1rem;
        margin-right: 2rem;
        margin-top: 4rem;
        text-decoration: none;
        color: black;
        border-radius: 8px;
        min-height: 60vh;
        box-shadow: 0 0 .5rem rgba(0, 0, 0, .4), 0 0 .3rem rgba(0, 0, 0, .4);
        transition: all .2s;
        padding: 2rem;

        @media only screen and (min-width: 20em) {
            width: 90%;
            margin: 3rem auto 0rem auto;
        }

        @media only screen and (min-width: 75em) {
            width: 22%;
            margin: 4rem 2rem 1rem;
         }

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 0 1.5rem rgba(0, 0, 0, .2);
        }
    }

    &__card-box {
        width: 100%;
        // border: 1px solid greenyellow;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;

    }

    &__card {
        width: 100%;
        min-height: 30vh;
    }

    &__image {
        width: 100%;

        & img {
            height: 30vh;
            width: 100%;
            object-fit: cover;

        }
    }

    &__details {
        text-align: center;
        font-size: 1.6rem;
        padding-top: 1rem;
        line-height: 1.6;
    }

    &__rating {
        color: rgb(70, 185, 70);
    }
}