.products {
    background-color: white;
    margin-top: 7rem;

    &__container {
        width: 100%;
        min-height: 100vh;
    }

    &__anchor {
        text-decoration: none;
        display: flex;
        width: 22%;
        overflow: hidden;
        margin-bottom: 1rem;
        margin-right: 2rem;
        margin-top: 4rem;
        text-decoration: none;
        color: black;
        border-radius: 8px;
        min-height: 60vh;
        box-shadow: 0 0 .5rem rgba(0, 0, 0, .4), 0 0 .3rem rgba(0, 0, 0, .4);
        transition: all .2s;

        &:hover{
            transform: translateY(-5px);
            box-shadow: 0 0 1.5rem rgba(0, 0, 0, .2);
        }
    }

    &__card-box {
        width: 100%;
        // border: 1px solid greenyellow;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;

    }

    &__card {
        width: 100%;
        min-height: 30vh;
    }

    &__image {
        width: 100%;

        & img {
            height: 30vh;
            width: 100%;
            object-fit: cover;

        }
    }
}