<section class="products">
    <div class="products__container">
        <div class="products__card-box" *ngIf="products$ | async as products">
            <a class="products__anchor" routerLink="/details">
                <div class="products__card-box">
                    <div class="products__card">
                        <div class="products__box" *ngFor="let product of products">
                            <div class="products__image">
                                <img [src]="product.thumbnail" alt="">
                            </div>
                            <div class="products__details">
                                <h1 class="products__title">
                                    {{product.title}}
                                </h1>
                                <div class="products__price">
                                   {{product.price}}
                                </div>
                                <div class="products__rating">
                                    {{product.rating}}
                                </div>
                                <div class="products__category">
                                    Brand: {{product.brand}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="container__errormessage">
            <div class="container__error" *ngIf="errorMessage$ | async as errorMessage">
                {{errorMessage}}
            </div>
        </div>
    </div>
</section>