<section class="products">
    <div class="products__container">
        <div class="products__card-box">
            <a class="products__anchor" routerLink="/details">
                <div class="products__card-box">
                    <div class="products__card">
                        <div class="products__box">
                            <div class="products__image">
                                <img src="../../../assets/head pan.jpg" alt="">
                                </div>
                            <div class="products__details">
                                <h1 class="products__title">
                                    Samsung galaxy s4
                                </h1>
                                <div class="products__price">
                                    price: $3
                                </div>
                                <div class="products__description">
                                    Description: <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, atque.
                                </div>
                               
                                <div class="products__rating">
                                    rating: 3.6
                                </div>
                                <div class="products__category">
                                    Brand: apple
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a class="products__anchor" routerLink="/details">
                <div class="products__card-box">
                    <div class="products__card">
                        <div class="products__box">
                            <div class="products__image">
                                <img src="../../../assets/head pan.jpg" alt="">
                                </div>
                            <div class="products__details">
                                <h1 class="products__title">
                                    Samsung galaxy s4
                                </h1>
                                <div class="products__price">
                                    price: $3
                                </div>
                                <div class="products__description">
                                    Description: <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, atque.
                                </div>
                               
                                <div class="products__rating">
                                    rating: 3.6
                                </div>
                                <div class="products__category">
                                    Brand: apple
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a class="products__anchor" routerLink="/details">
                <div class="products__card-box">
                    <div class="products__card">
                        <div class="products__box">
                            <div class="products__image">
                                <img src="../../../assets/head pan.jpg" alt="">
                                </div>
                            <div class="products__details">
                                <h1 class="products__title">
                                    Samsung galaxy s4
                                </h1>
                                <div class="products__price">
                                    price: $3
                                </div>
                                <div class="products__description">
                                    Description: <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, atque.
                                </div>
                               
                                <div class="products__rating">
                                    rating: 3.6
                                </div>
                                <div class="products__category">
                                    Brand: apple
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a class="products__anchor" routerLink="/details">
                <div class="products__card-box">
                    <div class="products__card">
                        <div class="products__box">
                            <div class="products__image">
                                <img src="../../../assets/head pan.jpg" alt="">
                                </div>
                            <div class="products__details">
                                <h1 class="products__title">
                                    Samsung galaxy s4
                                </h1>
                                <div class="products__price">
                                    price: $3
                                </div>
                                <div class="products__description">
                                    Description: <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, atque.
                                </div>
                               
                                <div class="products__rating">
                                    rating: 3.6
                                </div>
                                <div class="products__category">
                                    Brand: apple
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a class="products__anchor" routerLink="/details">
                <div class="products__card-box">
                    <div class="products__card">
                        <div class="products__box">
                            <div class="products__image">
                                <img src="../../../assets/head pan.jpg" alt="">
                                </div>
                            <div class="products__details">
                                <h1 class="products__title">
                                    Samsung galaxy s4
                                </h1>
                                <div class="products__price">
                                    price: $3
                                </div>
                                <div class="products__description">
                                    Description: <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, atque.
                                </div>
                               
                                <div class="products__rating">
                                    rating: 3.6
                                </div>
                                <div class="products__category">
                                    Brand: apple
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a class="products__anchor" routerLink="/details">
                <div class="products__card-box">
                    <div class="products__card">
                        <div class="products__box">
                            <div class="products__image">
                                <img src="../../../assets/head pan.jpg" alt="">
                                </div>
                            <div class="products__details">
                                <h1 class="products__title">
                                    Samsung galaxy s4
                                </h1>
                                <div class="products__price">
                                    price: $3
                                </div>
                                <div class="products__description">
                                    Description: <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, atque.
                                </div>
                               
                                <div class="products__rating">
                                    rating: 3.6
                                </div>
                                <div class="products__category">
                                    Brand: apple
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a class="products__anchor" routerLink="/details">
                <div class="products__card-box">
                    <div class="products__card">
                        <div class="products__box">
                            <div class="products__image">
                                <img src="../../../assets/head pan.jpg" alt="">
                                </div>
                            <div class="products__details">
                                <h1 class="products__title">
                                    Samsung galaxy s4
                                </h1>
                                <div class="products__price">
                                    price: $3
                                </div>
                                <div class="products__description">
                                    Description: <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, atque.
                                </div>
                               
                                <div class="products__rating">
                                    rating: 3.6
                                </div>
                                <div class="products__category">
                                    Brand: apple
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a class="products__anchor" routerLink="/details">
                <div class="products__card-box">
                    <div class="products__card">
                        <div class="products__box">
                            <div class="products__image">
                                <img src="../../../assets/head pan.jpg" alt="">
                                </div>
                            <div class="products__details">
                                <h1 class="products__title">
                                    Samsung galaxy s4
                                </h1>
                                <div class="products__price">
                                    price: $3
                                </div>
                                <div class="products__description">
                                    Description: <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, atque.
                                </div>
                               
                                <div class="products__rating">
                                    rating: 3.6
                                </div>
                                <div class="products__category">
                                    Brand: apple
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a class="products__anchor" routerLink="/details">
                <div class="products__card-box">
                    <div class="products__card">
                        <div class="products__box">
                            <div class="products__image">
                                <img src="../../../assets/head pan.jpg" alt="">
                                </div>
                            <div class="products__details">
                                <h1 class="products__title">
                                    Samsung galaxy s4
                                </h1>
                                <div class="products__price">
                                    price: $3
                                </div>
                                <div class="products__description">
                                    Description: <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, atque.
                                </div>
                               
                                <div class="products__rating">
                                    rating: 3.6
                                </div>
                                <div class="products__category">
                                    Brand: apple
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a class="products__anchor" routerLink="/details">
                <div class="products__card-box">
                    <div class="products__card">
                        <div class="products__box">
                            <div class="products__image">
                                <img src="../../../assets/head pan.jpg" alt="">
                                </div>
                            <div class="products__details">
                                <h1 class="products__title">
                                    Samsung galaxy s4
                                </h1>
                                <div class="products__price">
                                    price: $3
                                </div>
                                <div class="products__description">
                                    Description: <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, atque.
                                </div>
                               
                                <div class="products__rating">
                                    rating: 3.6
                                </div>
                                <div class="products__category">
                                    Brand: apple
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a class="products__anchor" routerLink="/details">
                <div class="products__card-box">
                    <div class="products__card">
                        <div class="products__box">
                            <div class="products__image">
                                <img src="../../../assets/head pan.jpg" alt="">
                                </div>
                            <div class="products__details">
                                <h1 class="products__title">
                                    Samsung galaxy s4
                                </h1>
                                <div class="products__price">
                                    price: $3
                                </div>
                                <div class="products__description">
                                    Description: <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, atque.
                                </div>
                               
                                <div class="products__rating">
                                    rating: 3.6
                                </div>
                                <div class="products__category">
                                    Brand: apple
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
           
        </div>
    </div>
</section>