<div class="container">
    <div class="container__details">
        <div class="container__images">
            <div class="container__first-img">
                <img src="../../assets/hamm.jpg" alt="">
            </div>
            <div class="container__second-img">
                <img src="../../assets/hamar.jpg" alt="">
                <img src="../../assets/hamar.jpg" alt="">
                <img src="../../assets/hamar.jpg" alt="">
                <img src="../../assets/hamar.jpg" alt="">
            </div>
        </div>
        


        <div class="container__write-up">
            <h1 class="container__title">
                samsung gallaxi 9
            </h1>

            <p class="container__description">
               Description: <br>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo, pariatur?
            </p>
            <p>price: $100</p>
            <p>stock 3456</p>

            <div class="container__buttons">
                <div class="container__toogle">
                    <button class="container__front" routerLink="/payment">Add to cart</button>
                </div>
                <div class="container__click">
                    <button routerLink="/products" class="container__back">Back to Products</button>
                </div>
            </div>
        </div>
    </div>
    <!-- <p>id: number;
        title: string;
        description: string;
        price: number;
        discountPercentage: number;
        rating: number;
        stock: number;
        brand: "Apple";
        category: string
        thumbnail: string
        images: []</p> -->
</div>

