<div class="container">
    <div class="container__details" *ngIf="product$ | async as product">
        <div class="container__images">
            <div class="container__first-img">
                <img [src]="product.thumbnail" alt="">
            </div>
            <div class="container__second-img">
                <img [src]="product.images" alt="">
            </div>
        </div>
        


        <div class="container__write-up">
            <h1 class="container__title">
                {{product.title}}
            </h1>

            <p class="container__description">
               {{product.description}}
            </p>
            <p>{{product.price | currency}}</p>
            <p>{{product.stock}}</p>

            <div class="container__buttons">
                <div class="container__toogle">
                    <button class="container__front" routerLink="/payment">Add to cart</button>
                </div>
                <div class="container__click">
                    <button routerLink="/products" class="container__back">Back to Products</button>
                </div>
            </div>
        </div>
    </div>
    <!-- <p>id: number;
        title: string;
        description: string;
        price: number;
        discountPercentage: number;
        rating: number;
        stock: number;
        brand: "Apple";
        category: string
        thumbnail: string
        images: []</p> -->
</div>

